// Vars
$white-color: #fff;
$black-color: #000;
$border-radius: 7.5px;
$primary-color: #3182ce;
$primary-color-hover: #2b6cb0;
$primary-color-active: #2c5281;

// Mixins
@mixin decoration-shadow() {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  &:active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

@mixin boarder-radius() {
  border-radius: $border-radius;
}

@mixin white-bg() {
  background-color: $white-color;
}

@mixin button() {
  button,
  input[type='submit'],
  input[type='button'] {
    @include decoration-shadow();
    @include boarder-radius();

    border: none;
    background-color: $primary-color;
    color: $white-color;

    &:hover {
      background-color: $primary-color-hover;
    }

    &:active {
      background-color: $primary-color-active;
    }
  }
}

// Styles
.title {
  font-size: 1.5em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  @include boarder-radius();
  @include white-bg();

  padding: 1em;
  margin: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cards-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & .card {
    @include decoration-shadow();
    @include boarder-radius();
    @include white-bg();

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 100%;

    & .card-title {
      font-size: 1.2em;
      font-weight: bold;
    }

    & .card-subtitle {
      font-size: 1em;
      font-weight: bold;
    }

    & .card-text {
      font-size: 1em;
    }
  }
}

.pagination-container {
  @include button();

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  & button {
    margin: 0 10px;
    padding: 10px;
  }
}

.form-group {
  @include button();

  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 90%;

  & .form-control {
    @include decoration-shadow();
    @include boarder-radius();
    @include white-bg();

    border: none;
  }

  & label {
    font-size: 1em;
    font-weight: bold;
  }

  & select {
    @include decoration-shadow();

    & option {
      font-size: 1em;
    }
  }

  & .form-control,
  & .btn,
  & label,
  & input,
  & select {
    margin: 0 10px;
    padding: 10px;
    width: 100%;
  }
}
